/* h1{
    color: lightcoral;
    font-size: 30px;
}

.Mobile{
    display: flex;
}
.phone1{
    height: 220px;
    margin-left: -50px;
}
.phone2{
    height: 300px;
    margin-top: -60px;
}
.phone3{
    height: 220px;
}
.link{
    display: flex;
    gap: 150px;
    margin-left: 70px;
    row-gap: 50px;
} */

